html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.invoice-info p {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 0;
  line-height: 16px;
}

.invoice-bill td {
  padding-inline-start: 0;
}

.invoice-bill th {
  display: none;
}
